@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #990011FF;
    min-height: 100%;
}

.wrapper {
    max-width: 80%;
    background-color: #FCF6F5FF;
    margin: 0 auto;
    height: 100%;
    padding-bottom: 30px;
}

p {
    letter-spacing: 1px;
}

a {
    letter-spacing: 1px;
}

header {
    height: 8rem;
    text-align: center;
}

.title {
    width: 100%;
    height: auto;
    padding: 20px;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
        0 0 2px rgb(0 0 0 / 7%);
}

.title h1 {
    font-family: 'Berkshire Swash', cursive;
    font-weight: lighter;
}

nav{
    display: flex;
    justify-content: center;
}

.navbar ul {
    display: flex;
    align-items: center;
}
  
.navbar li {
    margin: 0px 45px 0px 0px;
    list-style: none;
}
  
.navbar a {
    color: #474747f3;
    text-decoration: none;
}

.navbar a:hover {
    color: #990011FF;
}

section{
    text-align: center;
    width: 100%;
    height: 11rem;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 6%),
        0 0 2px rgb(0 0 0 / 7%) inset;
}
  
.main-text {
    width: 40%;
    letter-spacing: 1px;
}

.content {
    padding-top: 50px;
    height: auto;
    display: flex;
    justify-content: center;
}

.box-1 {
    height: 30rem;
    width: 25rem;
    margin: 0 3rem 0 0;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(59, 59, 59);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-1 img {
    width: 25rem;
    height: 15rem;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
        0 0 2px rgb(0 0 0 / 7%);
}

.box-1 p {
    width: 50%;
    margin: 40px auto;
    text-align: center;
}

.box-1 a {
    width: 40%;
    text-decoration: none;
    border: 1px solid rgb(100, 100, 100);
    padding: 10px;
    background-color: #990011FF;
    color: #FCF6F5FF;
    border-radius: 20px;
    transition: 0.5s;
}

.box-1 a:hover {
    background-color: #FCF6F5FF;
    color: #990011FF;
    transition: 0.5s;
}

.box-2 {
    height: 30rem;
    width: 25rem;
    margin: 0 0 0 3rem;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(59, 59, 59);
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.box-2 img {
    width: 25rem;
    height: 15rem;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px -100px 30px rgb(0 0 0 / 10%), 0 -2px -2px rgb(0 0 0 / 6%),
        0 -2px 2px rgb(0 0 0 / 7%) ;
}

.box-2 p {
    width: 50%;
    margin: 40px auto;
    text-align: center;
}

.box-2 a {
    width: 40%;
    text-decoration: none;
    border: 1px solid rgb(100, 100, 100);
    padding: 10px;
    background-color: #990011FF;
    color: #FCF6F5FF;
    border-radius: 20px;
    transition: 0.5s;
    margin-bottom: 40px;
}

.box-2 a:hover {
    background-color: #FCF6F5FF;
    color: #990011FF;
    transition: 0.5s;
}



/* Text Styles */

.text-lg {
    font-family: 'Oxygen', sans-serif;
    font-size: 38px;
    font-weight: 400;
}
.text-md {
    font-family: 'Oxygen', sans-serif;
    font-size: 28px;
    font-weight: 300;
}
.text-sm {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

@media (max-width: 1240px) {
    .text-lg {
        font-size: 28px;
    }

    .box-1 {
        height: 25rem;
        width: 20rem;
    }

    .box-1 img {
        height: 12.5rem;
        width: 20rem;
    }

    .box-1 a {
        width: 50%;
    }

    .box-2 {
        height: 25rem;
        width: 20rem;
    }

    .box-2 img {
        height: 12.5rem;
        width: 20rem;
    }
}

